/* body {
  margin: 0;
  color: rgb(90 94 98);
  background-color: rgb(252, 249, 249);
}

h1,
h3 {
  margin: 0;
}

h2 {
  margin: 0;
  padding: 5px;
}
 */
/* .app-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
} */

/* Navbar section */
/* .nav-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: -webkit-fill-available;
}

.nav-container h1 {
  align-self: center;
}
 */
/* .links-menu {
  display: flex;
  align-items: center;
}

.links-menu a {
  color: #7b7b7b;
  text-decoration: none;
  padding: 3px;
  border: 1px solid #7b7b7b;
  margin: 0 3px;
  border-radius: 5px;
}
 */
/* .hideMenu {
  display: none;
}

.showMenu {
  display: flex;
}

button {
  border: 1px solid #7b7b7b;
  border-radius: 5px;
  margin: 0 5px;
}

button svg {
  color: #7b7b7b;
  width: 20px;
  height: 20px;
} */

/* Add movies section */
/*

.empty-list {
  align-self: center;
}

.add-new-movie {
  padding: 5px;
}

.add-new-movie input {
  margin-right: 5px;
  font-size: large;
  border-radius: 5px;
  border: none;
  outline: none;
} */

/* .add-new-movie select {
  font-size: large;
  border-radius: 5px;
  outline: none;
}

.add-new-movie button {
  font-size: large;
}

/* Display movies section */
/* .display-movies {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
 
.movie-container {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #7b7b7b;
  margin: 2px;
  border-radius: 5px;
} */

/* watched movies */
/* .btnwatched {
  background-color: rgb(115, 120, 139);
  color: rgb(209, 222, 248);
  padding: 5px 3px;
}

.btnNotWatched {
  background-color: rgb(129, 108, 131);
  color: rgb(248, 210, 248);
  padding: 5px 3px;
}

.deleteWatch {
  display: flex;
  justify-content: space-between;
}
 */
/* @media (max-width: 480px) {
  .add-new-movie {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .add-new-movie * {
    width: 100%;
    margin: 2px 0;
  }

  .movie-container {
    flex-direction: column;
    align-items: stretch;
  }
}
 */
/* new style code */

.panel-bg {
  border-radius: 4px;
  box-shadow: 2.5rem 4.062rem 50px 0 rgba(0, 0, 0, 0.2), 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

/* navbar section */
.navbar {
  padding: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: end;
}

.links {
  display: flex;
  margin: 0 10px 0 10px;
}

.Bookstore-CMS1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.BOOKS{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: #121212;
  text-decoration: none;
  padding: 1px;
  margin: 2px;
}

.BOOKS:focus {
  opacity: 0.5;
}

.Oval {
  padding: 1rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
}

.Mask {
  width: 1rem;
  height: 1rem;
  color: #0290ff;
}

/* books displayed section */
.books-display {
  margin-bottom: 1rem;
}

.Lesson-Panel {
  margin-bottom: 1rem ;
  padding: 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
}

.book-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Category {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.Author {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.comments-section {
  margin-top: 1.313rem;
}

.Comments {
  margin-right: 0.938rem;
  padding-right: 0.938rem;
  border-right: 1px solid #e8e8e8;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.Comments:last-child {
  border: none;
}

/* parte derecha de display books */
.status-section {
  display: flex;
  align-items: center;
  flex: 1.5;
}


.percent-section {
  display: flex;
  align-items: center;
  padding-right: 3.688rem;
  border-right: 1px solid #e8e8e8;
}


.circle {
  padding: 0.62rem;
}

.btnNotWatched {
  width: 5.5rem;
  height: 5.5rem;
  border: 5px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #307bbe, #379cf6);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-image-slice: 1;
}

.btnwatched {
  width: 5.5rem;
  height: 5.5rem;
  border: 0;
  border-radius: 50%;
  background: linear-gradient(90deg, #307bbe, #379cf6);

}

.btnwatched span {
  color: white;
  
}

.btnNotWatched span {
  color: #121212;
  opacity: 0.6;
}

.Completed {

  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

}


.chapter-section {
  display: flex;
  flex-direction: column;
  margin-left: 3.688rem;
}

.Current-Chapter,
.Current-Lesson {
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #121212;
}

.Current-Chapter {
  margin: 0;
  font-size: 0.813rem;
  letter-spacing: normal;
}

.Current-Lesson {
  margin: 0.438rem 0 1.438rem 0;
  font-size: 1rem;
  letter-spacing: -0.4px;
}

.Delete-button {
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
}

.Delete-text {
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

/* code for all the movies display */
.movies-container {
  background-color: #dfdada;
  display: flex;
  flex-direction: column;
  min-width: 350px;
}
/* finihs */


.add-book {
  padding: 1rem 1rem 2rem 1rem;
  border-top: 2px solid #e8e8e8;
}


.add-book-title {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.inputs-elements {
  margin-top: 1.188rem;
  display: flex;
  justify-content: space-between;
}

.inputs {
  flex: 1;
  margin-right: 2.125rem;
  padding: 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.inputs::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: #c4c4c4;
}


.add-book-button {
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
}


.ADD-BOOK {
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

/* no se si sirven de algo jjaja*/

body {
  margin: 0;
  padding: 0;
}

.Bookstore-CMS {
  padding: 3rem;
  background-color: #f5f6fa;
}

/* other styles */
button {
  padding: 0;
  margin: 0;
}